body{
  background-color: #24353f;
}
.login{
  box-shadow: 1px 1px 30px black;
text-align: center;
color:white;
margin: auto;

}

.smart-txt{
    padding-top: 30px;
    color:#17A2B8;
}

.account{
    padding-bottom: 50px;;
}

.txt{
    background-color:#24353f !important ;
}